<div class="table-container mat-elevation-z3">
  <div class="leftS"><h5>Liste des Commandes |</h5></div>
  <!-- <div class="caption">
    
    <div class="rightS">
      <button class="btn"><mat-icon>add</mat-icon>Ajouter</button>
<mat-icon class="search">search</mat-icon>
         <input matInput placeholder="Search columns" #input  class="search"/>

    </div>
  </div> -->
  <table id="example" class="table" role="table">
    <thead role="rowgroup">
      <tr>
        <th>Numéro</th>
        <th>Nom de Produit</th>
        <th>Prix</th>
        <th>Categorie</th>
        <th>SousCategorie</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>12/03/2023</td>
        <td>Bakary Samaké</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
          <!-- icons -->
           <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>1/03/2023</td>
        <td>Hamidou Diallo</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
          <!-- icons -->
          <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>12/03/2023</td>
        <td>Bakary Samaké</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
          <!-- icons -->
          <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>1/03/2023</td>
        <td>Hamidou Diallo</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
          <!-- icons -->
          <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>12/03/2023</td>
        <td>Bakary Samaké</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
         <!-- icons -->
         <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>1/03/2023</td>
        <td>Hamidou Diallo</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
          <!-- icons -->
           <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>12/03/2023</td>
        <td>Bakary Samaké</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
          <!-- icons -->
           <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>1/03/2023</td>
        <td>Hamidou Diallo</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
          <!-- icons -->
           <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>12/03/2023</td>
        <td>Bakary Samaké</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
         <!-- icons -->
          <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>1/03/2023</td>
        <td>Hamidou Diallo</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
         <!-- icons -->
          <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>12/03/2023</td>
        <td>Bakary Samaké</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
          <!-- icons -->
           <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>1/03/2023</td>
        <td>Hamidou Diallo</td>
        <td>80000090</td>
        <td>100000 F</td>
        <td class="action-btn">
          <!-- icons -->
           <mat-icon>delete</mat-icon>
           <mat-icon>edit</mat-icon>
           <mat-icon>info</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
