
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="conteneurprincipal">

        <div class="selectjour">
            <form>
                <!-- <label for="date"></label> -->
                <select id="date">
                  <option value="">Sélectionnez une date</option>
                  <option value="2024-07-17">Mardi, 17 Juillet 2024</option>
                  <option value="2024-07-18">Mercredi, 18 Juillet 2024</option>
                  <option value="2024-07-19">Jeudi, 19 Juillet 2024</option>
                  <option value="2024-07-20">Vendredi, 20 Juillet 2024</option>
                  <option value="2024-07-21">Samedi, 21 Juillet 2024</option>
                  <option value="2024-07-22">Dimanche, 22 Juillet 2024</option>
                  <option value="2024-07-23">Lundi, 23 Juillet 2024</option>
                </select>
              </form>
            
        </div>

    </div>

    <div id="carteconteneur">
        <div class="cart1"> 

            <div class="divicone">

         <i class="fa-solid fa-heart"></i>


            </div>

           <div class="interieur">
                <p>172+</p>
                <h4>Produits au panier</h4>
           </div> 
        </div>
        <div class="cart2"> 

            <div class="divicone">

         <i class="fa-solid fa-heart"></i>


            </div>

           <div class="interieur">
                <p>172+</p>
                <h4>Produits au panier</h4>
           </div> 
        </div>
        <div class="cart3"> 

            <div class="divicone">

                <i class="fa-solid fa-bag-shopping"></i>

            </div>

           <div class="interieur">
                <p>172+</p>
                <h4>Produits au panier</h4>
           </div> 
        </div>
        <div class="cart4"> 

            <div class="divicone">

                <i class="fa-solid fa-users"></i>


            </div>

           <div class="interieur">
                <p>172+</p>
                <h4>Produits au panier</h4>
           </div> 
        </div>
        
    </div>
    
</body>

</html>